$mobile-width: 768px;
$tablet-width: 1024px;

$color: (
  primary: #fbb03b,
  secondary: #fff,
  title: #333333,
  text: #a8a8a8a8,
  original-price: #cecece,
  red: #ff0000,
  dark: #000000,
  btn-border: #c4c4c4,
  gray: #f6f6f6,
  service-icon: #fff3df,
);
