.badge {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;

  &.badge-danger {
    background-color: map-get($color, red);
    color: map-get($color, secondary);
  }

  &-outline-primary {
    color: map-get($color, primary);
    background-color: map-get($color, secondary);
    border: 1px solid map-get($color, primary);
  }
}

@include mobile {
  .badge {
    &.badge-danger {
      font-size: 8px;
      font-weight: 700;
      line-height: 12px;
    }
  }
}
