.ic {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: left;

  &.ic-magnifying-glass {
    background-image: url("../../assets/images/ic-magnifying-glass.svg");
  }

  &.ic-cart {
    background-image: url("../../assets/images/ic-cart.svg");
  }

  &.ic-user {
    background-image: url("../../assets/images/ic-user.svg");
  }

  &.ic-free-shipping-1 {
    background-image: url("../../assets/images/ic-free-shipping-1.svg");
  }

  &.ic-free-shipping-2 {
    background-image: url("../../assets/images/ic-free-shipping-2.svg");
  }

  &.ic-happy-face {
    background-image: url("../../assets/images/ic-happy-face.svg");
  }

  &.ic-guarantee-1 {
    background-image: url("../../assets/images/ic-guarantee-1.svg");
  }

  &.ic-guarantee-2 {
    background-image: url("../../assets/images/ic-guarantee-2.svg");
  }

  &.ic-arrow-right {
    background-image: url("../../assets/images/ic-arrow-right.svg");
  }

  &.ic-payment-2 {
    background-image: url("../../assets/images/ic-payment-2.svg");
  }

  &.ic-materials-1 {
    background-image: url("../../assets/images/ic-materials-1.svg");
  }

  &.ic-materials-2 {
    background-image: url("../../assets/images/ic-materials-2.svg");
  }

  &.ic-facebook {
    background-image: url("../../assets/images/ic-facebook.svg");
  }

  &.ic-twitter {
    background-image: url("../../assets/images/ic-twitter.svg");
  }

  &.ic-linkedin {
    background-image: url("../../assets/images/ic-linkedin.svg");
  }

  &.ic-instagram {
    background-image: url("../../assets/images/ic-instagram.svg");
  }

  &.ic-youtube {
    background-image: url("../../assets/images/ic-youtube.svg");
  }

  &.ic-sm-magnifying-glass {
    background-image: url("../../assets/images/ic-sm-magnifying-glass.svg");
  }

  &.ic-sm-user {
    background-image: url("../../assets/images/ic-sm-user.svg");
  }

  &.ic-sm-cart {
    background-image: url("../../assets/images/ic-sm-cart.svg");
  }
}
