.toast {
  position: fixed;
  display: flex;
  visibility: hidden;
  gap: 12px;
  align-items: center;
  background: #fff;
  z-index: 1000;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 4px solid #2BDE3F;
  padding: 2px 16px;
  border-radius: 4px;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
  transition: all linear 0.3s;

  &.toast-show {
    visibility: visible;
    animation: slideInLeft ease .3s, fadeOut linear 1s 3s forwards;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  &-message {
    font-size: 18px;
    color: map-get($color, title);
    font-weight: 500;
    line-height: 1.5;
  }

  &-close-btn {
    font-size: 32px;
    font-weight: 200;
    color: gray;
    cursor: pointer;
  }
}
