.header {
  position: sticky;
  top: 0;
  padding: 24px 0;
  margin-top: 24px;
  width: 100%;
  z-index: 10;
  transition: all 0.2s;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    .mobile-logo-img {
      display: none;
    }
  }

  &-action-list {
    display: flex;
    align-items: center;
    margin: 0 -12px;
  }

  &-action-item {
    position: relative;
    padding: 0 12px;
  }

  &-mobile-action-list {
    position: relative;
    display: none;
    margin: 0 -12px;
  }

  &-mobile-action-item {
    position: relative;
    padding: 0 12px;
  }

  &-action-quantity {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -10px;
    left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: map-get($color, red);
    color: map-get($color, secondary);
    font-size: 12px;
  }

  &-sticky {
    background-color: map-get($color, secondary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
  }
}

@include tablet {
  .header {
    padding: 0;
    margin: 0;

    &-inner {
      .nav {
        display: none;
      }
    }
  }
}
