.nav {
  &-list {
    display: flex;
  }

  &-item {
    padding: 0 48px;
  }

  &-link {
    color: map-get($color, primary);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
  }
}

@include mobile {
  .nav {
    display: none;
  }
}
