.product {
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  &-link {
    display: block;
    position: relative;

    .badge.badge-danger {
      position: absolute;
      left: 28px;
      top: 24px;
    }

    .btn.btn-primary {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 14px 24px;
      display: none;
    }

    &:hover {
      .btn.btn-primary {
        display: inline-block;
      }

      .product-image {
        opacity: .4;
      }
    }
  }

  &-image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &-description {
    padding-top: 16px;

    .product-name {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: map-get($color, dark);
    }

    .product-prices {
      display: flex;
      justify-content: space-between;
    }
  }

  &-status {
    position: absolute;
    top: 24px;
    right: 20px;
  }

  &-prices {
    .sale-price {
      color: map-get($color, dark);
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;

      &.active {
        color: map-get($color, red) !important;
      }
    }

    .original-price {
      color: map-get($color, original-price);
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-decoration: line-through;
    }
  }
}

@include mobile {
  .product {
    &-link {
      .badge.badge-danger {
        top: 8px;
        left: 8px;
      }

      .btn.btn-primary {
        padding: 12px 14px;
      }

      .product-description {
        padding-top: 4px;

        .product-name {
          font-size: 12px;
          font-weight: 300;
          line-height: 18px;
        }

        .product-prices {
          .sale-price {
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
          }

          .original-price {
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
          }
        }
      }
    }
  }
}
