.cart-page {
  .section {
    &-cart {
      &-header {
        position: sticky;
        top: 80px;
        background: white;
        padding: 20px 0;
        border-bottom: 1px solid #eee;

        &-title {
          font-size: 16px;
          font-weight: 600;
          color: map-get($color, title);
        }
      }

      .product-cart-list {
        background: #fff;
        border-radius: 8px;

        .product-cart-item {
          & ~ * {
            border-top: 1px solid #eee;
          }
        }
      }

      .product-cart {
        padding: 20px 0;

        &-desc {
          padding: 20px;
        }

        &-name {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 6px;
        }

        &-info {
          display: flex;
        }

        &-img {
          width: 120px;
          border-radius: 8px;
        }

        &-action {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          padding: 20px 0;
        }

        &-total {
          padding: 20px 0;
        }

        &-total-price {
          font-size: 20px;
          font-weight: 600;
        }

        .btn.btn-delete-outline {
          width: 76px;
        }

        &-prices {
          display: flex;
          flex-direction: column;
          .sale-price {
            color: map-get($color, dark);
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;

            &.active {
              color: map-get($color, red) !important;
            }
          }

          .original-price {
            color: map-get($color, original-price);
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-decoration: line-through;
          }
        }

        &-quantity-input {
          width: 40px;
          height: 27.6px;
          font-size: 16px;
          text-align: center;
          border: 1px solid map-get($color, btn-border);

          &::placeholder {
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            color: map-get($color, text);
          }

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0;
            appearance: none;
          }
        }

        &-quantity-wrapper {
          display: flex;
          align-items: center;

          .decrease.btn.btn-step-outline {
            border-right: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 100%;
          }

          .increase.btn.btn-step-outline {
            border-left: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            height: 100%;
          }
        }
      }

      .cart {
        position: sticky;
        top: 120px;

        &-checkout {
          display: flex;
          flex-direction: column;
          padding: 24px;
          background: #fff;
          border: 1px solid #ccc;
          border-radius: 10px;

          &-total-title {
            font-size: 18px;
            font-weight: 500;
            color: #000;
          }

          &-total-price {
            font-size: 20px;
            font-weight: 600;
          }

          &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            width: 100%;
          }

          .btn.btn-outline-primary {
            width: 100%;
            margin-bottom: 10px;
            padding: 14px 0;
          }
        }

        &-empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 100px 0;

          &-img {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@include tablet {
  .cart-page {
    .section {
      &-cart {
        .cart {
          height: 138px;
          position: fixed;
          left: 0;
          right: 0;
          top: calc(100vh - 136px);
          background-color: white;
        }
      }

      .product-cart {
        .decrease.btn.btn-step-outline,
        .increase.btn.btn-step-outline,
        &-quantity-input {
          font-size: 14px;
          height: 28px;
        }

        .btn.btn-delete-outline {
          font-size: 14px;
        }
      }

      .product-cart-list {
        margin-bottom: 118px;
      }

      .cart {
        &-checkout {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          border-radius: unset;
          border: none;
          border-top: 1px solid #ccc;
        }
      }
    }
  }
}

@include mobile {
  .cart-page {
    .section {
      &-cart {
        &-header {
          display: none;
        }
      }

      .product-cart {
        &-info {
          display: flex;
          align-items: center;
        }

        &-action {
          gap: 18px;
        }

        &-total {
          padding: 0;
        }
      }

      .cart {
        &-empty {
          &-img {
            width: 100%;
          }
        }
      }
    }
  }
}
